secretfile filter=git-crypt diff=git-crypt
secret.py filter=git-crypt diff=git-crypt
*.key filter=git-crypt diff=git-crypt
*.password filter=git-crypt diff=git-crypt
*.env filter=git-crypt diff=git-crypt
